RESUME AI ANALYZER.json
{
  "name": "RESUME AI ANALYZER",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "has:attachment filename:pdf"
        },
        "options": {
          "dataPropertyAttachmentsPrefixName": "cv",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "3712eac8-eb24-4ef7-a38f-44cc8fc98810",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "F9uPeo2jYnNpdbLo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "cv0",
        "name": "={{ $json.from.value[0].name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1lqSncNSmPK1Co62ahLxlx1gi6ivXyYvF",
          "mode": "list",
          "cachedResultName": "JOB RESUMES",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1lqSncNSmPK1Co62ahLxlx1gi6ivXyYvF"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "9cb0ed03-0801-4c1f-844d-6461b71d177e",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4nymdh2Lziy3dOEW",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "6315b053-d1e3-4cce-b0d6-5322c80f2a88",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4nymdh2Lziy3dOEW",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "1d01c7a2-470e-46df-8a68-5936fc360298",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "manual",
        "inputSchema": "{\n \"type\": \"object\",\n \"properties\": {\n \"name\": {\n \"type\": \"string\"\n },\n \"email\": {\n \"type\": \"string\",\n \"format\": \"email\"\n },\n \"phone_number\": {\n \"type\": \"string\",\n \"pattern\": \"^(\\\\+\\\\d{1,3}[- ]?)?\\\\d{10}$\"\n }\n },\n \"required\": [\"name\", \"email\", \"phone_number\"]\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        832,
        0
      ],
      "id": "56a68c09-cc27-4fe4-8091-21a3cde38c29",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1040,
        208
      ],
      "id": "bbbc81de-238e-405b-8d5f-d970dbe6591c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zJ8vJQwxr7XUmr8M",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Resume: {{ $('Extract from File').item.json.text }}",
        "options": {
          "systemMessage": "** Purpose **\nYou are a CV Evaluation and Summarization Agent. Your task is to extract key information from a CV and output it in a clean, structured format.\nYou must also evaluate how well the candidate fits a specified job role and assign a relevance score (1–10), followed by a short justification.\n** How It Works **\nWhen provided with a CV and job description, follow this process:\n1. Extract & Summarize Information from the CV\n- Educational Qualifications\nInclude degrees, institutions, and graduation years.\n- Job History\nList job titles, company names, employment dates, and 1 short sentence summarizing key responsibilities or achievements.\n- Skill Set\nList technical, soft, or role-specific skills — separated by commas.\n2. Evaluate the Candidate for the Job Role\n- Compare the candidate’s qualifications and experience with the job requirements.\n- Assign a score from 1–10 based on relevance:\n1–3: Weak match\n4–6: Moderate match\n7–8: Strong match\n9–10: Excellent match\n- Provide a brief justification for the score. Mention strengths and gaps directly related to the role — no assumptions or interpretations."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1184,
        0
      ],
      "id": "9e32c416-7515-4019-8076-d19a7b735024",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bad5602-03cf-4595-92af-91385e5cb574",
              "name": "content",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        0
      ],
      "id": "39ad25e8-bc8e-451f-8366-76b56085f6cf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// ---------- 1. Read input text ----------\nconst inputData = $input.item.json.content;\n// ---------- 2. Helper: extract a block that starts with a bold header ----------\nconst grabBlock = (text, header) => {\n const re = new RegExp(`\\\\*{0,2}${header}\\\\*{0,2}\\\\s*([\\\\s\\\\S]*?)\\\\s*$`, 'i'); // capture to end of string\n const m = re.exec(text);\n return m ? m[1].trim() : null;\n};\n// ---------- 3. Helper: extract a section that sits between bold headers ----------\nconst grabSection = (text, label) => {\n /* takes “**Label:** …” up to the next **Bold Header** or end */\n const re = new RegExp(\n `\\\\*{0,2}${label}\\\\*{0,2}\\\\s*([\\\\s\\\\S]*?)(?=\\\\n\\\\*{0,2}[A-Z][^\\\\n]*\\\\*{0,2}\\\\s*|$)`,\n 'i'\n );\n const m = re.exec(text);\n return m ? m[1].trim() : null;\n};\n// ---------- 4. Pull the three simple sections ----------\nconst educationalQualifications = grabSection(inputData, 'Educational Qualifications:');\nconst jobHistory = grabSection(inputData, 'Job History:');\nconst skillSet = grabSection(inputData, 'Skill Set:');\n// ---------- 5. Pull the whole “Evaluation …” block ----------\nconst evaluationBlock = grabBlock(inputData, 'Evaluation'); // matches “**Evaluation …**”\n// ---------- 6. From that block, get score & justification ----------\nlet score = null;\nlet justification = null;\nif (evaluationBlock) {\n // score can be “Relevance Score: 7/10” or “Score: 7/10”\n const scoreMatch = /(Relevance\\s*)?Score:\\s*(\\d{1,2})\\s*\\/\\s*10/i.exec(evaluationBlock);\n score = scoreMatch ? scoreMatch[2] : null;\n const justMatch = /\\*{0,2}Justification:\\*{0,2}\\s*([\\s\\S]*)/i.exec(evaluationBlock);\n if (justMatch) {\n justification = justMatch[1].trim();\n }\n}\n// ---------- 7. Return tidy JSON ---------return [\n {\n educationalQualifications,\n jobHistory,\n skillSet,\n score,\n justification\n }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        0
      ],
      "id": "c2d8e163-4bb3-4bf3-a98b-aa171b10e6b1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1T5WnMygcoRe4F_8_g4NhYp9OVfHzhDuBz_V8_oQlz74",
          "mode": "list",
          "cachedResultName": "List of candidates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T5WnMygcoRe4F_8_g4NhYp9OVfHzhDuBz_V8_oQlz74/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T5WnMygcoRe4F_8_g4NhYp9OVfHzhDuBz_V8_oQlz74/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Number": "={{ $json.Number }}",
            "Skill Set": "={{ $json.skillSet }}",
            "Qualifications": "={{ $json.Qualifications }}",
            "Job History": "={{ $json.jobHistory }}",
            "Score": "={{ $json.Score }}",
            "Justification": "={{ $json.Justification }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skill Set",
              "displayName": "Skill Set",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qualifications",
              "displayName": "Qualifications",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job History",
              "displayName": "Job History",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Justification",
              "displayName": "Justification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1920,
        0
      ],
      "id": "8ddd294f-2629-4799-8afa-2d879497f128",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c200rrtAaPR7NVIt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        464,
        560
      ],
      "id": "66ef0d4d-39ec-4810-8112-826392624c8d",
      "name": "On form submission",
      "webhookId": "d908df08-7925-4a6c-b282-c95e9b615846"
    },
    {
      "parameters": {
        "trigger": [
          "file_share"
        ],
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        864,
        560
      ],
      "id": "aa911d3b-0610-4f97-b715-3035833f4ba9",
      "name": "Slack Trigger",
      "webhookId": "6aafb6dd-6f9b-431d-b04d-bbedc1cace1e"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "643c6372-9b93-43e2-bd1d-55657ec4cfa1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d91907d83d86550936b489c1941a8c5487ea628c7cc3c866e9e008effeff2ba"
  },
  "id": "Hgcuugl7ICPSSxip",
  "tags": [
    {
      "updatedAt": "2025-12-25T06:12:13.236Z",
      "createdAt": "2025-12-25T06:12:13.236Z",
      "id": "KHNaSl9smyYQqtoS",
      "name": "LEARNING"
    }
  ]
}